<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="static/img/iconpreload.png" type="image/x-icon" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link rel="stylesheet" type="text/css" href="static/css/reset.css">
 <!--    <link rel="stylesheet" type="text/css" href="static/css/uikit.css"> -->
    <title>GEORGE_PC</title>
  </head>
  <body>
    <header>
        <div id="particles-js">
          <div class="menu001">
            <div class="menu002">
            <a class="likingpark" href=""><p class="logo1">GEORGE<span class="logo2">PC</span></p></a>
            <ul class="menunavigation">
              <li><a href="#modelraid">модельный ряд</a></li>
              <li class="left0ne"><a href="#workd1">конфигуратор</a></li>
              <li class="left1ne"><a href="#worklink3">аксceсуары</a></li>
              <li class="left2ne"><a href="#worklink2">Клиентам</a></li>
              <li class="left2ne"><a href="#worklink4">О нас</a></li>
            </ul>
            <a class="textphone" href="tel:+77019823490"><p >+7 (701) 982-34-90</p></a>
            <div class="cartmenuopen">
            <svg class="iconlogin1" xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 24 24"><path d="M24 3l-.743 2h-1.929l-3.474 12h-13.239l-4.615-11h16.812l-.564 2h-13.24l2.937 7h10.428l3.432-12h4.195zm-15.5 15c-.828 0-1.5.672-1.5 1.5 0 .829.672 1.5 1.5 1.5s1.5-.671 1.5-1.5c0-.828-.672-1.5-1.5-1.5zm6.9-7-1.9 7c-.828 0-1.5.671-1.5 1.5s.672 1.5 1.5 1.5 1.5-.671 1.5-1.5c0-.828-.672-1.5-1.5-1.5z"/></svg>
            <div id="testforadaptive" class="cartopened">
              <div class="cartonelover">
                <p class="textcartone">Моя корзина</p>
                <svg class="svgonelovercart" xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24"><path d="M24 3.752l-4.423-3.752-7.771 9.039-7.647-9.008-4.159 4.278c2.285 2.885 5.284 5.903 8.362 8.708l-8.165 9.447 1.343 1.487c1.978-1.335 5.981-4.373 10.205-7.958 4.304 3.67 8.306 6.663 10.229 8.006l1.449-1.278-8.254-9.724c3.287-2.973 6.584-6.354 8.831-9.245z"/></svg>
                </div>
                <div id="cartdivmainidf1" class="redlinecartone">

                  <!-- tovar -->
                  
                  <!-- tovar -->
                </div>
                <div>
                  <p class="buuuuutttoenq1">
                <button data-toggle="modal" data-target="#modal_oformlenie" class="button_oformittw">Оформить заказ</button></p>
                </div>
              
            </div>
          
          </div>
            <div class="linknum0ne">
              <a class="intochdep" href="#link0001">
            
            <div class="hexmat" style="display: flex" id="login01">
            
            <svg class="iconlogin" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 24 24"><path d="M12 2c2.757 0 5 2.243 5 5.001 0 2.756-2.243 5-5 5s-5-2.244-5-5c0-2.758 2.243-5.001 5-5.001zm0-2c-3.866 0-7 3.134-7 7.001 0 3.865 3.134 7 7 7s7-3.135 7-7c0-3.867-3.134-7.001-7-7.001zm6.369 13.353c-.497.498-1.057.931-1.658 1.302 2.872 1.874 4.378 5.083 4.972 7.346h-19.387c.572-2.29 2.058-5.503 4.973-7.358-.603-.374-1.162-.811-1.658-1.312-4.258 3.072-5.611 8.506-5.611 10.669h24c0-2.142-1.44-7.557-5.631-10.647z"/></svg>
            <p class="textphone1">вход</p>
            </div>
             </a>
          </div>
            </div>
          </div>

          <div class="hello">
            <p class="text012">Первый в казахстане</p>
            <p class="text02">Конфигруатор персональных компьютеров</p>
            <a href="#workd1"><button class="button01">Конфигуратор</button></a>
          </div>
        </div>
    
</div>

</header>
 
  <svg class="svgofuparrow" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24"><path d="M7 11v13h2v-5h2v3h2v-7h2v9h2v-13h6l-11-11-11 11z"/></svg>
    <div id="link0001"> </div>

  <main class="mainmenu" >
    <p class="text08">Регистрация  / <span class="text09">Вход</span></p>
    <div class="boxforms">
    <form class="form1" novalidate>
        <div  id="vhodilka2">
        <p class="text01">Регистрация</p>
          <div class="fieres">
        <input id="input1" class="form-control reydu" type="text" name="username" placeholder="Введите ваше имя">
        <div class="here3"><img width="35" src="static/img/onetwo.png"></div>
        <div class="here4"><img width="35"  src="static/img/cancel.png"></div>
          </div>
          <div class="fieres1">
        <input id="input2" class="form-control reydu1" type="email" name="email" placeholder="Введите вашу почту">
        <div class="here1"><img width="35" src="static/img/onetwo.png"></div>
        <div class="here2"><img width="35"  src="static/img/cancel.png"></div>
      </div>
        <div class="fieres3">
        <input id="input3" class="form-control reydu1" type="password" name="pass" placeholder="Придумайте пороль">
        <div class="here5"><img width="35" src="static/img/onetwo.png"></div>
        <div class="here6"><img width="35"  src="static/img/cancel.png"></div>
      </div>
        <div class="fieres4">
        <input id="input4" class="form-control reydu1" type="password" name="doublepass" placeholder="Повторите пороль">
        <div class="here7"><img width="35" src="static/img/onetwo.png"></div>
        <div class="here8"><img width="35"  src="static/img/cancel.png"></div>
      </div>
        <button type="button" id="heandClick" class="koko1">Зарегистрировать</button>
        <button type="button" id="heandClick12" class=" koko">Вход</button>
        <span class="snapopen">Вы успешно прошли<br> регистрацию<br> <img src="static/img/onetwo.png"></span>

    </div>
 
    </form>
<form class="form2">
    <div id="traif" class="hellyees">
        <p class="text01">Вход</p>
        <div class="fieres">
        <input id="input1" class="form-control reydu" type="text" name="username" placeholder="Введите ваше логин">
        <div class="here10"><img width="35" src="static/img/onetwo.png"></div>
        <div class="here11"><img width="35"  src="static/img/cancel.png"></div>
          </div>
         <div class="fieres3">
        <input id="input3" class="form-control reydu1" type="password" name="pass" placeholder="Введите пороль">
        <div class="here12"><img width="35" src="static/img/onetwo.png"></div>
        <div class="here13"><img width="35"  src="static/img/cancel.png"></div>
      </div>
       <button type="button" id="heandClick321" class=" koko1">Регистрация</button>
        <button type="button" id="heandClick123" class="koko">Войти</button>
    </div>
    </form>
  </div>    
<div id="modelraid"> </div>
  </main>


  <aside>

  <div class="stylus" >
    <div class="div_text01">
    <p class="text31" >Модельный ряд<br> <span class="textintri">Конфигурируемые персональные компьютеры</span></p>
      </div>
    <div class="divintro" id="divintro"> 
     

    </div>

  </div>


  <div class="divlinktoggle">
  <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
     <center class="rotofatos" ><div>  
<svg class="svg1" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24"><path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z"/></svg>
 </div></center>
 <center class="rotofatos1"><div>  
<svg class="svg1" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24"><path d="M0 16.67l2.829 2.83 9.175-9.339 9.167 9.339 2.829-2.83-11.996-12.17z"/></svg>
 </div></center>
  </a>
  </div>

<div class="collapse" id="collapseExample">
    <div class="div_text01">
    <p class="text31" id="modelraid">Полный список<br> <span class="textintri"> персональных компьютеров</span></p>
      </div>
    <div class="divintro" id="dasdsa112"> 
    
    </div>
</div>
<div id="workd1"> </div>
</aside>


<!-- конфигуратор -->

<main class="configuration_main" >
  <p class="text_conf">Конфигуратор<br><a class="likingpark" href=""><p class="logo12">GEORGE<span class="logo2">PC</span></p></a></p>
  <p class="text_alnext"><button onclick="location.href='/inform';">Узнать больше</button></p>
  <div class="menu_configurator">
    <div class="left_menu_configurator">
     <div class="accordion" id="accordionExample">
      <!-- firstlinkcollapse -->
     
  <a class="link_conf_main" data-toggle="collapse" href="#onelink" role="button" aria-expanded="true" aria-controls="onelink">
    <div class="flex_conf">
    <p class="text_link_conf">Комплектующие</p>
    <center class="rlinkscg" id="linkone"><div>  
<svg class="svg_cong" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z"/></svg>
 </div></center>
 <center class="rotofatos3" id="hexdsaq"><div>  
<svg class="svg_cong" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path d="M0 16.67l2.829 2.83 9.175-9.339 9.167 9.339 2.829-2.83-11.996-12.17z"/></svg>
 </div></center>
    </div>
  </a>
  

<div class="collapse show" id="onelink">
 
    <ul class="uln_conf">
      <li>
        <a href="#link_nav_left1"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0v19h24v-19h-24zm22 17h-20v-15h20v15zm-6.599 4l2.599 3h-12l2.599-3h6.802z"/></svg>
          <span>видеокарты</span></a>
      </li>
      <li class="heuwauedpta2">
        <a href="#link_nav_left2"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24"><path d="M16.25 6c.414 0 .75.336.75.75v9.5c0 .414-.336.75-.75.75h-9.5c-.414 0-.75-.336-.75-.75v-9.5c0-.414.336-.75.75-.75h9.5zm2.75 0c0-1.104-.896-2-2-2h-11c-1.104 0-2 .896-2 2v11c0 1.104.896 2 2 2h11c1.104 0 2-.896 2-2v-11zm-11 14v3h-1v-3h1zm4 0v3h-1v-3h1zm2 0v3h-1v-3h1zm-4 0v3h-1v-3h1zm6 0v3h-1v-3h1zm-8-20v3h-1v-3h1zm4 0v3h-1v-3h1zm2 0v3h-1v-3h1zm-4 0v3h-1v-3h1zm6 0v3h-1v-3h1zm4 15h3v1h-3v-1zm0-4h3v1h-3v-1zm0-2h3v1h-3v-1zm0 4h3v1h-3v-1zm0-6h3v1h-3v-1zm-20 8h3v1h-3v-1zm0-4h3v1h-3v-1zm0-2h3v1h-3v-1zm0 4h3v1h-3v-1zm0-6h3v1h-3v-1z"/></svg>
          <span>процессоры</span></a>
      </li>
      <li>
        <a href="#link_nav_left3"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M20.043 11.76c-.141-.427-.314-.844-.516-1.242l-2.454 1.106c.217.393.39.81.517 1.242l2.453-1.106zm-12.572-.904c.271-.354.579-.674.918-.957l-1.89-1.968c-.328.293-.637.614-.919.957l1.891 1.968zm1.714-1.514c.38-.221.781-.396 1.198-.523l-1.033-2.569c-.412.142-.813.317-1.2.524l1.035 2.568zm-2.759 3.615c.121-.435.287-.854.498-1.25l-2.47-1.066c-.196.403-.364.823-.498 1.25l2.47 1.066zm9.434-6.2c-.387-.205-.79-.379-1.2-.519l-1.023 2.573c.418.125.82.299 1.2.519l1.023-2.573zm2.601 2.131c-.281-.342-.59-.664-.918-.957l-1.891 1.968c.34.283.648.604.919.957l1.89-1.968zm-5.791-3.06c-.219-.017-.437-.026-.648-.026-.213 0-.432.009-.65.026v2.784c.216-.025.434-.038.65-.038.215 0 .434.013.648.038v-2.784zm11.33 8.172c0-6.627-5.373-12-12-12s-12 5.373-12 12c0 2.583.816 5.042 2.205 7h19.59c1.389-1.958 2.205-4.417 2.205-7zm-9.08 5c-.007-1.086-.606-2.031-1.496-2.522l-1.402-6.571-1.402 6.571c-.889.491-1.489 1.436-1.496 2.522h-5.821c-.845-1.5-1.303-3.242-1.303-5 0-5.514 4.486-10 10-10s10 4.486 10 10c0 1.758-.458 3.5-1.303 5h-5.777z"/></svg>
          <span>материнские платы</span></a>
      </li>
      <li>
          <a href="#link_nav_left4"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M20 18.5c0 .276-.224.5-.5.5s-.5-.224-.5-.5.224-.5.5-.5.5.224.5.5zm4-2.5l-5-14h-14l-5 14v6h24v-6zm-17.666-12h11.333l3.75 11h-18.834l3.751-11zm15.666 16h-20v-3h20v3zm-11-15v5h-3l4 4 4-4h-3v-5h-2z"/></svg>
          <span>Оперативная память</span></a>
      </li>
           <li>
          <a href="#link_nav_left5"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M23 0l-15.996 3.585v13.04c-2.979-.589-6.004 1.671-6.004 4.154 0 2.137 1.671 3.221 3.485 3.221 2.155 0 4.512-1.528 4.515-4.638v-10.9l12-2.459v8.624c-2.975-.587-6 1.664-6 4.141 0 2.143 1.715 3.232 3.521 3.232 2.14 0 4.476-1.526 4.479-4.636v-17.364z"/></svg>
          <span>Звуковая карта</span></a>
      </li>
         <li>
          <a href="#link_nav_left6"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M18.516 18.448c1.648 1.946-1.365 3.802-2.292 1.451-.425-1.081-1.438-3.76-1.69-4.434-.313-.833.499-1.25 1.012-.557.34.459 2.263 2.706 2.97 3.54zm3.484-18.448v24h-20v-24h20zm-2 2h-16v20h1v-1.5c0-.276.224-.5.5-.5s.5.224.5.5v1.5h1v-1.5c0-.276.224-.5.5-.5s.5.224.5.5v1.5h1v-1.5c0-.276.224-.5.5-.5s.5.224.5.5v1.5h10v-20zm-8 7c-.551 0-1 .449-1 1s.449 1 1 1 1-.449 1-1-.449-1-1-1zm0-6c3.866 0 7 3.134 7 7 0 1.956-.804 3.723-2.098 4.993-.262-.314-.47-.569-.554-.682-.354-.478-.861-.753-1.391-.753-.485 0-.939.237-1.215.635-.311.449-.364 1.041-.145 1.623l.341.906c-.616.177-1.265.278-1.938.278-3.866 0-7-3.134-7-7s3.134-7 7-7zm-2.5 2.836c.656-.396 1.374-.605 2.091-.65l.12-.777c-.893.028-1.79.276-2.609.771-.818.492-1.455 1.171-1.897 1.947l.744.257c.374-.613.893-1.15 1.551-1.548zm.794 1.318c.334-.201.692-.324 1.056-.387l.121-.792c-.54.057-1.077.22-1.575.521-.496.3-.89.698-1.193 1.149l.756.264c.226-.293.501-.553.835-.755zm3.706 2.846c0-1.105-.895-2-2-2s-2 .895-2 2 .895 2 2 2 2-.895 2-2z"/></svg>
          <span>жесткий диск</span></a>
      </li>
       <li>
          <a href="#link_nav_left7"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M16 0v2h-8v-2h8zm0 24v-2h-8v2h8zm2-22h4v4h2v-6h-6v2zm-18 14h2v-8h-2v8zm2-10v-4h4v-2h-6v6h2zm22 2h-2v8h2v-8zm-2 10v4h-4v2h6v-6h-2zm-16 4h-4v-4h-2v6h6v-2z"/></svg>
          <span>Блок питания</span></a>
      </li>

    </ul>
</div>


       <!-- firstlinkcollapse -->
       <div style="margin-top:20px">
 <a class="link_conf_main1" data-toggle="collapse" href="#onelink1" role="button" aria-expanded="false" aria-controls="onelink1">
    <div class="flex_conf">
    <p class="text_link_conf">Акссесуары</p>
    <center class="rlinkscg1" id="linkone"><div>  
<svg class="svg_cong" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z"/></svg>
 </div></center>
 <center class="rotofatos4" id="hexdsaq"><div>  
<svg class="svg_cong" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path d="M0 16.67l2.829 2.83 9.175-9.339 9.167 9.339 2.829-2.83-11.996-12.17z"/></svg>
 </div></center>
    </div>
  </a>
</div>
<div class="collapse show" id="onelink1">
 
    <ul class="uln_conf">
      <li>
        <a href="#link_nav_left8"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0v19h24v-19h-24zm22 17h-20v-15h20v15zm-6.599 4l2.599 3h-12l2.599-3h6.802z"/></svg>
          <span>мониторы</span></a>
      </li>
      <li>
        <a href="#link_nav_left9"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M22 7v10h-20v-10h20zm2-2h-24v14h24v-14zm-18 3h-3v2h3v-2zm3 0h-2v2h2v-2zm3 0h-2v2h2v-2zm3 0h-2v2h2v-2zm3 0h-2v2h2v-2zm3 0h-2v2h2v-2zm-4 6h-10v2h10v-2zm4-3h-4v2h4v-2zm-14 0h-4v2h4v-2zm3 0h-2v2h2v-2zm3 0h-2v2h2v-2zm3 0h-2v2h2v-2z"/></svg>
          <span>клавиатуры</span></a>
      </li>
      <li>
        <a href="#link_nav_left10"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M13.807 8.771l4.768-3.302-1.415-2.042c-.644-.928-1.678-1.427-2.727-1.427-.651 0-1.309.191-1.884.59l-2.045 1.415 3.303 4.766zm-5.184 5.609l3.302 4.767c1.286 1.857 3.353 2.853 5.452 2.853 3.628 0 6.623-2.944 6.623-6.634 0-1.302-.383-2.617-1.181-3.768l-3.301-4.765-10.895 7.547zm.52-9.431l-2.04 1.416c-1.506 1.042-1.881 3.106-.838 4.61l1.413 2.043 4.768-3.302-3.303-4.767zm-1.646 5.171c-.57-.823-.369-1.948.461-2.522l.807-.56 1.593 2.299-2.3 1.593-.561-.81zm-3.321-2.231l-2.499-1.74.62-.891 2.271 1.582c-.169.332-.3.681-.392 1.049zm.702 4.006l-2.299 1.615-.624-.888 2.414-1.699c.135.338.299.665.509.972zm-.778-1.906h-3.1v-1.085h3.029c-.013.366.005.729.071 1.085z"/></svg>
          <span>мышки</span></a>
      </li>
      <li>
          <a href="#link_nav_left11"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M6 23v-11c-4.036 0-6 2.715-6 5.5 0 2.807 1.995 5.5 6 5.5zm18-5.5c0-2.785-1.964-5.5-6-5.5v11c4.005 0 6-2.693 6-5.5zm-12-13.522c-3.879-.008-6.861 2.349-7.743 6.195-.751.145-1.479.385-2.161.716.629-5.501 4.319-9.889 9.904-9.889 5.589 0 9.29 4.389 9.916 9.896-.684-.334-1.415-.575-2.169-.721-.881-3.85-3.867-6.205-7.747-6.197z"/></svg>
          <span>наушники</span></a>
      </li>
           <li>
          <a href="#link_nav_left12"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 12l-6-5v4h-5v-5h4l-5-6-5 6h4v5h-5v-4l-6 5 6 5v-4h5v5h-4l5 6 5-6h-4v-5h5v4z"/></svg>
          <span>коврики для мышки</span></a>
      </li>
         

    </ul>
</div>
</div>
    </div>
    <!-- elements -->
    <div class="elements_conf">
     <p class="text_element">Выберите Комплектующие <span class="spna_el">ПК</span></p>
    



     <form id="link_nav_left1" class="formula">
    <!-- baza -->
  
    <div class="element_div">
      <a class="linkforvideo12"  data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample">
        <div class="rikla12" style="display: flex;">
    <p id="roomkavoki" class="text_element1">Видеокарты</p>
      <center class="rlinkscgvideo" id="linkoneroofler"><div>  
<svg class="svg_congvideo" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z"/></svg>
 </div></center>
 <center class="rotofatosvideo" id="hexdsaq"><div>  
<svg class="svg_cong" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path d="M0 16.67l2.829 2.83 9.175-9.339 9.167 9.339 2.829-2.83-11.996-12.17z"/></svg>
 </div></center>
 </div>
  </a>
       
     
<div  class="row collapse" id="collapseExample1">
     <div class="adapter" id="videokartib">
</div>
<div id="rofloturik">

</div>
 <div  id="fotkaicena" class="imgright1">
      
    </div>
</div>
  


    </div>

    </form>
    <!-- baza -->


     <form id="link_nav_left2" class="formula">
    <!-- baza -->
    <div class="element_div">
<a class="linkforvideo12"  data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample">
        <div class="rikla12" style="display: flex;">
          <p id="roomkavoki1" class="text_element1">Процессоры</p>
      <center class="rlinkscgprossesor" id="linkoneroofler1"><div>  
<svg class="svg_congvideo" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z"/></svg>
 </div></center>
 <center class="rotofatosprossesor" id="hexdsaq"><div>  
<svg class="svg_cong" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path d="M0 16.67l2.829 2.83 9.175-9.339 9.167 9.339 2.829-2.83-11.996-12.17z"/></svg>
 </div></center>
 </div>
  </a>
    



<div class="row collapse" id="collapseExample2">
    <div class="adapter" id="prosessorib">
      
</div>
<div id="rofloturik1">

</div>
<div id="fotkaicena1" class="imgright1">
       
    </div>
</div>
    </div>
    
    </form>


   <form id="link_nav_left3" class="formula">
    <!-- baza -->
  
    <div class="element_div">
      <a class="linkforvideo12"  data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample">
        <div class="rikla12" style="display: flex;">
          <p id="roomkavoki2" class="text_element1">матерниские платы</p>
      <center class="rlinkscgmaterinka" id="linkoneroofler2"><div>  
<svg class="svg_congvideo" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z"/></svg>
 </div></center>
 <center class="rotofatosmaterinka" id="hexdsaq"><div>  
<svg class="svg_cong" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path d="M0 16.67l2.829 2.83 9.175-9.339 9.167 9.339 2.829-2.83-11.996-12.17z"/></svg>
 </div></center>
 </div>
  </a>
       

       <div class="row collapse" id="collapseExample3">
     <div class="adapter" id="materinkaid">
     
      </div>
      <div id="rofloturik2">

</div>
      <div id="fotkaicena2" class="imgright1">
      
    </div>
    </div>

    </div>
    
    </form>


 <form id="link_nav_left4" class="formula">
    <!-- baza -->
  
    <div class="element_div">


            <a class="linkforvideo12"  data-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample">
        <div class="rikla12" style="display: flex;">
           <p id="roomkavoki3" class="text_element1">Оперативная память</p>
      <center class="rlinkscgoperativka" id="linkoneroofler3"><div>  
<svg class="svg_congvideo" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z"/></svg>
 </div></center>
 <center class="rotofatosoperativka" id="hexdsaq"><div>  
<svg class="svg_cong" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path d="M0 16.67l2.829 2.83 9.175-9.339 9.167 9.339 2.829-2.83-11.996-12.17z"/></svg>
 </div></center>
 </div>
  </a>
       <div class="row collapse" id="collapseExample4">
      <div class="adapter" id="operativnayapamat">
  


</div>
 <div id="rofloturik3">

</div>
<div  id="fotkaicena9" class="imgright1">
      
    </div>
</div>
    </div>
    
    </form>
    <!-- baza -->


<!-- zcoooook -->
    
   <form id="link_nav_left5" class="formula">
    <!-- baza -->
  
    <div class="element_div">
      <a class="linkforvideo12"  data-toggle="collapse" href="#collapseExample8" role="button" aria-expanded="false" aria-controls="collapseExample">
        <div class="rikla12" style="display: flex;">
          <p id="roomkavoki8" class="text_element1">Звуковые карты</p>
      <center class="rlinkscgzvook" id="linkoneroofler8"><div>  
<svg class="svg_congvideo" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z"/></svg>
 </div></center>
 <center class="rotofatoszvook" id="hexdsaq"><div>  
<svg class="svg_cong" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path d="M0 16.67l2.829 2.83 9.175-9.339 9.167 9.339 2.829-2.83-11.996-12.17z"/></svg>
 </div></center>
 </div>
  </a>
       

       <div class="row collapse" id="collapseExample8">
     <div class="adapter" id="zvokovkartachka">
     
      </div>
      <div id="rofloturik4">

      </div>
      <div id="fotkaicena21" class="imgright1">
      
    </div>
    </div>

    </div>
    
    </form>


<!-- zcoooook -->




<!-- харддиск -->
    
   <form id="link_nav_left6" class="formula">
    <!-- baza -->
  
    <div class="element_div">
      <a class="linkforvideo12"  data-toggle="collapse" href="#collapseExample9" role="button" aria-expanded="false" aria-controls="collapseExample">
        <div class="rikla12" style="display: flex;">
          <p id="roomkavoki9" class="text_element1">Жесткие диски</p>
      <center class="rlinkscghard" id="linkoneroofler9"><div>  
<svg class="svg_congvideo" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z"/></svg>
 </div></center>
 <center class="rotofatoshard" id="hexdsaq"><div>  
<svg class="svg_cong" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path d="M0 16.67l2.829 2.83 9.175-9.339 9.167 9.339 2.829-2.83-11.996-12.17z"/></svg>
 </div></center>
 </div>
  </a>
       

       <div class="row collapse" id="collapseExample9">
     <div class="adapter" id="harddiskettiki">
     
      </div>
       <div id="rofloturik5">

      </div>
      <div id="fotkaicena22" class="imgright1">
      
    </div>
    </div>

    </div>
    
    </form>


<!-- харддиск -->


<!-- блокпитания -->
    
   <form id="link_nav_left7" class="formula">
    <!-- baza -->
  
    <div class="element_div">
      <a class="linkforvideo12"  data-toggle="collapse" href="#collapseExample10" role="button" aria-expanded="false" aria-controls="collapseExample">
        <div class="rikla12" style="display: flex;">
          <p id="roomkavoki10" class="text_element1">Блоки питания</p>
      <center class="rlinkscgblock" id="linkoneroofler10"><div>  
<svg class="svg_congvideo" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z"/></svg>
 </div></center>
 <center class="rotofatosblock" id="hexdsaq"><div>  
<svg class="svg_cong" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path d="M0 16.67l2.829 2.83 9.175-9.339 9.167 9.339 2.829-2.83-11.996-12.17z"/></svg>
 </div></center>
 </div>
  </a>
       

       <div class="row collapse" id="collapseExample10">
     <div class="adapter" id="blockipitti">
     
      </div>
      <div id="rofloturik6">

      </div>
      <div id="fotkaicena23" class="imgright1">
      
    </div>
    </div>

    </div>
    
    </form>


<!-- блокпитания -->

        
       <p style="padding-top:20px" class="text_element">Дополнительные акссесуары для <span class="spna_el">ПК</span></p>

<!-- мониторы -->
   <form id="link_nav_left8" class="formula">
    <div class="element_div">
      <a class="linkforvideo12"  data-toggle="collapse" href="#collapseExamplemonti" role="button" aria-expanded="false" aria-controls="collapseExample">
        <div class="rikla12" style="display: flex;">
          <p id="roomkavokimonconf" class="text_element1">Мониторы</p>
      <center class="rlinkscgmoniki28" id="linkonerooflermonconf"><div>  
<svg class="svg_congvideo" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z"/></svg>
 </div></center>
 <center class="rotofatosmoniki28" id="hexdsaq"><div>  
<svg class="svg_cong" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path d="M0 16.67l2.829 2.83 9.175-9.339 9.167 9.339 2.829-2.83-11.996-12.17z"/></svg>
 </div></center>
 </div>
  </a>
       <div class="row collapse" id="collapseExamplemonti">
     <div class="adapter" id="monitory12123">
      </div>
        <div id="rofloturik7">

      </div>
      <div id="fotkaicena233" class="imgright1">
    </div>
    </div>
    </div>
    </form>
<!-- мониторы -->


<!-- клавиатуры -->
   <form id="link_nav_left9" class="formula">
    <div class="element_div">
      <a class="linkforvideo12"  data-toggle="collapse" href="#collapseExampleklava" role="button" aria-expanded="false" aria-controls="collapseExample">
        <div class="rikla12" style="display: flex;">
          <p id="roomkavokikovriki" class="text_element1">клавиатуры</p>
      <center class="rlinkscgkovriki229" id="linkonerooflerkovriki"><div>  
<svg class="svg_congvideo" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z"/></svg>
 </div></center>
 <center class="rotofatoskovriki229" id="hexdsaq"><div>  
<svg class="svg_cong" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path d="M0 16.67l2.829 2.83 9.175-9.339 9.167 9.339 2.829-2.83-11.996-12.17z"/></svg>
 </div></center>
 </div>
  </a>
       <div class="row collapse" id="collapseExampleklava">
     <div class="adapter" id="klaviatura228322">
      </div>
        <div id="rofloturik8">

      </div>
      <div id="fotkaicena2333" class="imgright1">
    </div>
    </div>
    </div>
    </form>
<!-- клавиатуры -->



<!-- мышки -->
   <form id="link_nav_left10" class="formula">
    <div class="element_div">
      <a class="linkforvideo12"  data-toggle="collapse" href="#collapseExamplemouse1231" role="button" aria-expanded="false" aria-controls="collapseExample">
        <div class="rikla12" style="display: flex;">
          <p id="roomkavokimouse1231" class="text_element1">мышки</p>
      <center class="rlinkscgmouse1231" id="linkonerooflermouse1231"><div>  
<svg class="svg_congvideo" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z"/></svg>
 </div></center>
 <center class="rotofatosmouse1231" id="hexdsaq"><div>  
<svg class="svg_cong" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path d="M0 16.67l2.829 2.83 9.175-9.339 9.167 9.339 2.829-2.83-11.996-12.17z"/></svg>
 </div></center>
 </div>
  </a>
       <div class="row collapse" id="collapseExamplemouse1231">
     <div class="adapter" id="mouseforhtml">
      </div>
       <div id="rofloturik9">

      </div>
      <div id="fotkaicena888" class="imgright1">
    </div>
    </div>
    </div>
    </form>
<!-- мышки -->



<!-- НАУШНИКИ -->
   <form id="link_nav_left11" class="formula">
    <div class="element_div">
      <a class="linkforvideo12"  data-toggle="collapse" href="#collapseExamplemontinaushniku3221" role="button" aria-expanded="false" aria-controls="collapseExample">
        <div class="rikla12" style="display: flex;">
          <p id="roomkavokinaushniku3221" class="text_element1">наушники</p>
      <center class="rlinkscgnaushniku3221" id="linkonerooflernaushniku3221"><div>  
<svg class="svg_congvideo" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z"/></svg>
 </div></center>
 <center class="rotofatosnaushniku3221" id="hexdsaq"><div>  
<svg class="svg_cong" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path d="M0 16.67l2.829 2.83 9.175-9.339 9.167 9.339 2.829-2.83-11.996-12.17z"/></svg>
 </div></center>
 </div>
  </a>
       <div class="row collapse" id="collapseExamplemontinaushniku3221">
     <div class="adapter" id="naushnukkk12123">
      </div>
      <div id="rofloturik10">

      </div>
      <div id="fotkaicena233228332" class="imgright1">
    </div>
    </div>
    </div>
    </form>
<!-- НАУШНИКИ -->




<!-- КОВРИКИ -->
   <form id="link_nav_left12" class="formula">
    <div class="element_div">
      <a class="linkforvideo12"  data-toggle="collapse" href="#collapseExamplemontikoversamolet" role="button" aria-expanded="false" aria-controls="collapseExample">
        <div class="rikla12" style="display: flex;">
          <p id="roomkavokikoversamolet" class="text_element1">коврики для мышки </p>
      <center class="rlinkscgkoversamolet" id="linkonerooflerkoversamolet"><div>  
<svg class="svg_congvideo" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z"/></svg>
 </div></center>
 <center class="rotofatoskoversamolet" id="hexdsaq"><div>  
<svg class="svg_cong" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path d="M0 16.67l2.829 2.83 9.175-9.339 9.167 9.339 2.829-2.83-11.996-12.17z"/></svg>
 </div></center>
 </div>
  </a>
       <div class="row collapse" id="collapseExamplemontikoversamolet">
     <div class="adapter" id="koverishhhher123321">
      </div>
       <div id="rofloturik11">

      </div>
      <div id="koverishhhher" class="imgright1">
    </div>
    </div>
    </div>
    </form>
<!-- КОВРИКИ -->
</div>




    <!-- elements -->
  </div>
<div>
  <p  id="obshayacena" class="cena_obshaia"></p>
  <center><button class="marrrtop">Купить</button></center>
</div>
<div id="worklink3"></div>
</main>

<!-- конфигуратор -->



<section class="hexaquamen">
  <p class="text_conf" ><span class="textspanintext">Компьютерные</span> Акссесуары</p>
  <p class="text20">Лучшие акссесуары для вашего персонально компьютера, со скидкой если компьютерx собирался в данном конфигураторе,<br> большое количество акссесуаров как игровых так и бытовых</p>
  
    <div style="width: 1920px; max-width: 100%; height:auto;margin-top:50px;
    margin-left: auto;margin-right: auto; margin-bottom: 0px;" id="carousel" class="carousel slide d-inline-block" data-ride="carousel">
      
        <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active"></li>
            <li data-target="#carousel" data-slide-to="1"></li>
            <li data-target="#carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active item_slide_one">
            <p class="text21">Мы предоставляем огромное количество акссесуаров</p>
            <p class="petrol">
            <a class="link121" href="">Мониторы</a>
            <a class="link121" href="">Клавиатуры и мышки</a>
            <a class="link121" href="">наушники</a>
            </p>
            </div>
            <div class="carousel-item item_slide_two">
              <p class="slide_test012">Удобство того, что можно собрать персональный компьютер с дополнительными аксессуарами прямо в конфигураторе</p>
              <p class="slide_test013">Так же асортимент дополнительной переферии для пк предожен в каталоге таваров в пункте аксессуаров</p>
              <center> <div class="imgfkwww"><img style="margin-top:10px;" width="80%" src="static/img/PC_INTEL.png">
             
              </div></center>
            </div>

            <div class="carousel-item item_slide_three">
              <p class="slide_test012">Купленный компютер, и переферия имеет 5-летнюю гарантию на замену и обсдуживание всех составляющих компьютера</p>
              <p class="slide_test013">Гарантийный толон на тот или иной товар будет выдан вместе с товаром при самовывозе либо при оформлении заказа при доставке</p>
             <center> <div class="imgfkwww"><img style="margin-top:60px;" width="80%" src="static/img/ttrwe.png">
             
              </div></center>

            </div>
        </div>
   
    </div>





<!-- tablist -->

<ul style="width: 1300px;margin-top:120px;margin-left:auto;margin-right:auto;margin-bottom:0px;max-width: 100%;" class="nav nav lessobonimg" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active monitoere" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true"><svg class="svgone1" xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 24 24"><path d="M0 0v19h24v-19h-24zm22 17h-20v-15h20v15zm-6.599 4l2.599 3h-12l2.599-3h6.802z"/></svg></a>
  </li>
  <li class="nav-item">
    <a class="nav-link monitoere" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false"><svg class="svgone2"  xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 24 24"><path d="M13.137 10.15c.312-.146.638-.18.943-.125.649.119 1.197.646 1.276 1.37-.225-.25-.515-.405-.825-.462-.315-.056-.651-.013-.964.133-.622.292-.987.913-.889 1.584-.744-.767-.513-2.044.459-2.5zm.965 9.247c.642.355 2.649 1.328 4.766 3.603l5.132-2.407c-.876-1.866-.34-2.963-1.208-4.816-.594-1.266-1.047-1.368-1.907-1.366l.306.652c.185.393-.412.67-.594.278l-.272-.583c-.223-.473-.851-.318-1.406-.293l.372.792c.184.392-.408.671-.594.277l-.322-.686c-.227-.485-.879-.308-1.439-.271l.393.839c.185.394-.41.669-.592.278l-1.597-3.395c-.494-1.056-2.133-.332-1.62.759l2.351 5.02c-.317-.187-.892-.412-1.282-.483-1.206-.218-1.909 1.017-.487 1.802zm-7.102-13.397h2v-2h-2v2zm10 3h4v-2h-4v2zm2-3h2v-2h-2v2zm-11 3h2v-2h-2v2zm-5-5v2h3v-2h-3zm7.297 6.922c.06-.326.179-.631.323-.922h-3.62v2h3.286c-.045-.356-.055-.717.011-1.078zm-7.297-1.922h4v-2h-4v2zm7-3h2v-2h-2v2zm6 0h2v-2h-2v2zm-4.758 8.042c-.295-.304-.506-.664-.674-1.042h-8.568v-10h20v9.53c.825.19 1.465.627 2 1.366v-12.896h-24v14h12.17l-.928-.958zm-.242-5.042h2v-2h-2v2zm3 0h2v-2h-2v2zm-1-3h2v-2h-2v2z"/></svg></a>
  </li>
  <li class="nav-item">
    <a class="nav-link monitoere" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false"><svg class="svgone3" xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 24 24"><path d="M6 23v-11c-4.036 0-6 2.715-6 5.5 0 2.807 1.995 5.5 6 5.5zm18-5.5c0-2.785-1.964-5.5-6-5.5v11c4.005 0 6-2.693 6-5.5zm-12-13.522c-3.879-.008-6.861 2.349-7.743 6.195-.751.145-1.479.385-2.161.716.629-5.501 4.319-9.889 9.904-9.889 5.589 0 9.29 4.389 9.916 9.896-.684-.334-1.415-.575-2.169-.721-.881-3.85-3.867-6.205-7.747-6.197zm-1.151 16.712l.786-4.788.803 3.446c.079.353.569.393.703.053l.727-1.858.678 1.582c.113.262.468.303.637.072l.618-.84h1.199v-.737h-1.391c-.117 0-.229.056-.298.151l-.342.469-.779-1.813c-.13-.303-.562-.296-.683.011l-.616 1.576-.95-4.208c-.09-.398-.659-.375-.724.022l-.788 4.86-.805-2.993c-.09-.357-.595-.377-.709-.023l-.598 1.948h-1.317v.737h1.607c.133 0 .278-.108.315-.235l.298-1.008.906 3.607c.099.389.659.363.723-.031z"/></svg></a>
  </li>
</ul>
<div style="width: 1700px; margin-top:40px;margin-left:auto;margin-right:auto;max-width: 100%;height: auto" class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
    <div class="div_text01">
    <p class="text31" id="modelraid">мониторы<br> <span class="textintri">Большое количество игровых мониторов на любой вкус</span></p>
       <div class="divintro" id="divintro228mon"> 
     

       </div>
      </div>

  </div>
  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
      <div class="div_text01">
    <p class="text31" id="modelraid">Клавиатуры и мышки<br> <span class="textintri">Большое количество игровых клавиатур и мышек на любой вкус</span></p>
    <div class="divintro" id="divintro228mon1"> 
     

       </div>
      </div>

  </div>
  <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
   <div class="div_text01">
    <p class="text31" id="modelraid">наушники<br> <span class="textintri">Большое количество игровых наушников на любой вкус</span></p>
    <div class="divintro" id="divintro228mon2"> 
     

       </div>
      </div>

  </div>
</div>

  <!-- tablist -->

</section>


<section style="padding-top:50px;" id="worklink2" class="sectionmap">
  <p class="text_conf221">Специально для клиентов<br><p class="text32">Наш сервис работает по всеми миру так как язвляется WEB-приложением и интернет-магазином<br><span style="color:white">клиенты по всему миру могут пользоваться нашим конфигуратором</span></p>
  <div class="textdivnumber01">
    <p>Специальное предложение для разработчиков: возможность<br>импортировать данный конфигуратор в на ваш сайт с использованием<br> встраимового кода т.е данный конфигуратор является готовым<br> плагином для всех за определенную плату.</p>
    <img class="imgchange" style="margin-left: auto"  height="150px" src="static/img/44.png">

  </div>
  <center><a href="https://github.com/"><button class="buttonplagin">Перейти на GITHUB</button></a></center>
  <center class="imgsvgdiv"><a href=""><svg xmlns="http://www.w3.org/2000/svg" width="54" height="54" viewBox="0 0 24 24"><path d="M12 5c3.453 0 5.891 2.797 5.567 6.78 1.745-.046 4.433.751 4.433 3.72 0 1.93-1.57 3.5-3.5 3.5h-13c-1.93 0-3.5-1.57-3.5-3.5 0-2.797 2.479-3.833 4.433-3.72-.167-4.218 2.208-6.78 5.567-6.78zm0-2c-4.006 0-7.267 3.141-7.479 7.092-2.57.463-4.521 2.706-4.521 5.408 0 3.037 2.463 5.5 5.5 5.5h13c3.037 0 5.5-2.463 5.5-5.5 0-2.702-1.951-4.945-4.521-5.408-.212-3.951-3.473-7.092-7.479-7.092zm4 10h-3v4h-2v-4h-3l4-4 4 4z"/></svg></a></center>
  <a class="likingpark" href=""><p class="logo12">GEORGE<span class="logo2">PC</span></p></a>
  <div class="mapclients">
    
  </div>

  <footer class="footer_main">
    <div class="numoffooter">
      <div class="kekus">
      <div class="first">
        <p>компания</p>
        <ul>
       <li><a href="">модельный ряд</a><br></li>
        <li><a href="">Обратная связь</a><br></li>
       <li> <a href="">О проекте</a><br></li>
       <li><a href="">специальное предложение</a></li>
  </ul>
      </div>
    </div>
      <div class="kekus">
       <div class="first1">
        <p>акссесуары</p>
        <ul>
       <li><a href="">мониторы</a><br></li>
        <li><a href="">клавиатура</a><br></li>
       <li> <a href="">мышки</a><br></li>
       <li><a href="">наушники</a></li>
  </ul>
      </div>
    </div>
      <div class="kekus">
        <div class="first2">
        <p>конфигуратор</p>
        <ul>
       <li><a href="">Готовые товары</a><br></li>
        <li><a href="">Товары без конфигурации</a><br></li>
       <li> <a href="">Акссесуары</a><br></li>
   
  </ul>
      </div>
      </div>
       <div class="kekus">
        <div class="first2">
        <p>Дополнительно</p>
        <ul>
       <li><a href="">Работа с клиентами</a><br></li>
        <li><a href="">Регистрация</a><br></li>
       <li> <a href="">Авторизация</a><br></li>
   
  </ul>
      </div>
      </div>
      <div class="kekus">
        <div class="first5">
       <a class="likingpark" href=""><p class="logo1228">GEORGE<span class="logo2">PC</span></p></a>
        <ul>
       <li><a href="tel:+77019823490">+7 701 982-34-90</a><br></li>
        <li><button data-toggle="modal" data-target="#myModal" class="button_telephon">Заказать звонок</button><br></li>
       
   
  </ul>
      </div>
      </div>
    </div>
  <p id="worklink4" class="text41">Все права защищены 2019 год создано Хиониди Георгием<br>правила пользования согласно законам Республики Казахстан<br>логотип является официальным логотипом созданным Георгием Хиониди</p>
  </footer>
</section>


<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="myModal" aria-hidden="true">
  <div class="modal-dialog modaltelephone" >
    <div class="modal-content" style="background: none;border:none">
       <button style="margin-left: auto; margin-right: 5px;" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><svg class="modalsvg1" xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 24 24"><path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"/></svg></span>
        </button>
     <p class="modataltext01">Заказать звонок</p>
     <form class="ffirsamqwe1123"> 
        <p style="text-align: center;"><input class="inputmodaltrye" type="tel" name="tel" required pattern="+7[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}" placeholder="+7(XXX)-XXX-XX-XX"> </p>
        <p style="text-align: center;"><button class="modalbuttonnum0n1" type="submit">Заказать звонок</button></p>
     </form>
    </div>
  </div>
</div>
    <!-- модальное окошко -->


        <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel123" id="modal_oformlenie" aria-hidden="true">
  <div class="modal-dialog modaloformlenie" >
    <div class="modal-content" style="background: none;border:none">


       <button style="margin-left: auto; margin-right: 5px;" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><svg class="modalsvg1" xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 24 24"><path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"/></svg></span>
        </button>



      <p class="modataltext01">Оформление заявки</p>
     <form class="ffirsamqwe112334111dsw"> 
        <p style="text-align: center;"><input id="q1" class="inputmodaltrye221" type="name" name="name" required  placeholder="Ваше имя"> </p>
        <p style="text-align: center;"><input id="q2" class="inputmodaltrye221" type="tel" name="tel" required pattern="+7[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}" placeholder="+7(XXX)-XXX-XX-XX"> </p>
        <p class="redlinoneaq21">после оформления заказа с вам перезвонят</p>
        <p style="text-align: center;"><input id="q3" class="inputmodaltrye221" type="email" name="email" required  placeholder="email"> </p>
        <p style="text-align: center;"><input  id="q4" class="inputmodaltrye221" type="text" name="text" required  placeholder="адресс"> </p>
       <select class="delevery">
            <option>доставка</option>
             <option>самовывоз</option>
        </select>
        <p class="redlinoneaq21">Оплата при доставке или при самовывозе</p>
        <div>
          <p id="obshayacffffjd"></p>
        </div>
        <p style="text-align: center;"><button class="modalbuttonnum0n1211" type="submit">ОФОРМИТЬ ЗАКАЗ</button></p>
     </form>
    </div>
  </div>
</div>




              <!-- модальное окошко -->

    <script src="https://code.jquery.com/jquery-3.3.1.js" crossorigin="anonymous"></script>
   <!--  <script src="static/js/uikit.js"></script>
    <script src="static/js/uikit-icons.js"></script> -->
    <script src="static/js/particles.js"></script>
    <script>
      particlesJS.load('particles-js', 'static/particles.json', function() {
        console.log('callback - particles.js config loaded');
      });
      particlesJS.load('particles1-js', 'static/particles1.json', function() {
        console.log('callback - particles.js config loaded');
      });
    </script>
    <script src="static/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"divintro integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>